*
{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body
{
  height: 97.5dvh;
  display: flex;
  flex-direction: column;
  background-color: hsl(202, 86%, 94%);
}

main
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  height: 500px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
}

footer
{
  font-size: 11px; 
  text-align: center;
  color: hsl(228, 45%, 44%);
}